/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background : url("login.jpg") ;
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}
.degradado {
    color: whitesmoke;
    text-shadow: 2px 2px 5px black;
    padding: 10px;
    background-color: rgba(5,5,5,0.5) !important;
    background: -webkit-linear-gradient(to right,rgba(5,5,5,0.5), rgba(5,5,5,0.0)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(5,5,5,0.5), rgba(5,5,5,0.0)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container{
height: 100%;
align-content: center;
}
.texto-lineal {
    color: #D4D8D8;
    font-weight : normal;
}

.card {
    padding: 22px 22px;
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 600px;
    background-color: rgba(5,5,5,0.5) !important;
    color: white;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #428bca;
}

.social_icon span:hover{
color: #5bc0de;

cursor: pointer;
}

.card-header h3{
color: white;

text-shadow: 2px 2px 5px CornflowerBlue ;
}

.social_icon{
position: absolute;
right: 20px;
top: -62px;
}

.input-group-prepend span{
width: 50px;
background-color: #428bca;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
text-shadow: 2px 2px 5px black;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: white;
background-color: #428bca;
width: 150px;
}

.login_btn:hover{

background-color: #5bc0de;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}