@{
    ViewBag.Title = "Ventana emergente sobre marcador";
}
<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 500px;
        width: 90%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
        height: 100%;
        margin: 0;
        padding: 20px;
    }
</style>
<br/>

<div class="row">
    <div id="map"></div>
    <script>
        function initMap() {
            var uluru = { lat: -25.363, lng: 131.044 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: uluru
            });

            $.get("@Url.Action("GetAllLocation","Geo")", function (data, status) {
                //var objeto = JSON.parse(data);
                //console.log(objeto[0]);

                var eventos = data.split(";");
                eventos.pop();
                var todosEventos = new Array(eventos.length);
                for (var i = 0; i < eventos.length; i++) {
                    
                    var evento = eventos[i].split("/");
                    var valores = new Array(evento.length);
                    for (var j = 0; j < evento.length; j++) {
                        var campo = evento[j].split(":");
                        if (campo[0] == "latitud" || campo[0] == "longitud") {
                            campo[1] = campo[1].replace(",", ".");
                        }
                        valores[j] = campo[1];
                    }
                    todosEventos[i] = valores;
                }
                console.log(todosEventos[0].length);
                var marker = [];
                var contentString = [];
                var infoVentana = [];

                for (var i = 0; i < todosEventos[0].length; i++) {
                    var auxiliar = todosEventos[i];
                    console.log(auxiliar[2]);
                    marker[i] = new google.maps.Marker({
                        position: { lat: parseFloat(auxiliar[1]), lng: parseFloat(auxiliar[2]) },
                        map: map,
                        title: auxiliar[0]

                    });
                    contentString[i] = '<div id="content">' +
                        '<div id="siteNotice">' +
                        '</div>' +
                        '<h1 id="firstHeading" class="firstHeading">Uluru</h1>' +
                        '<div id="bodyContent">' +
                        '<p><b>' + auxiliar[4] + 'Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
                        'sandstone rock formation in the southern part of the ' +
                        'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) ' +
                        'south west of the nearest large town, Alice Springs; 450&#160;km ' +
                        '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major ' +
                        'features of the Uluru - Kata Tjuta National Park. Uluru is ' +
                        'sacred to the Pitjantjatjara and Yankunytjatjara, the ' +
                        'Aboriginal people of the area. It has many springs, waterholes, ' +
                        'rock caves and ancient paintings. Uluru is listed as a World ' +
                        'Heritage Site.</p>' +
                        '<p>Attribution: Uluru ' +
                        '(last visited June 22, 2009).</p>' +
                        '</div>' +
                        '</div>';


                    infoVentana[i] = new google.maps.InfoWindow({
                        content: contentString[i]
                    });
                 
                    //REVISAR//


                    //var markervalue = marker[i];

                    //markervalue.addListener('mouseover', function () {
                    //    markervalue.infoVentana.op

                    //})

                    //google.maps.event.addListener(marker[i], 'mouseover', (function ((markervalue), i) {
                    //    return  function () {
                    //        infoVentana[i].open(map ,marker[i]);
                    //    }

                    //})(marker[i], i));

                    //google.maps.event.addListener(marker[i], 'mouseout', (function ((markervalue), i) {
                    //    return function () {
                    //        infoVentana[i].close();
                    //    }

                    //})(marker[i], i));

                    //marker.addListener('mouseover', function () {
                    //    infowindow.open(map, marker);
                    //});
                    //marker.addListener('mouseout', function () {
                    //    infowindow.close(map, marker);
                    //});




                }


            })


        }   
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALkm0kVQkpCFu2G6KbXft7F9nAG120eYI&callback=initMap"
            async defer></script>

</div>